
<div style="position: relative; z-index: 2"  class="ui four column centered stackable grid container">


    <div style="position: relative; z-index: 2" class="mobileHide"> 
      <iframe 
        src="{{ site.baseurl }}/resume/FrendyLioOnlineResume.pdf#toolbar=0&navpanes=0&scrollbar=0" 
        type="application/pdf" 
        width= 1920em
        height= 800em
      >
        Sorry your browser does not support this view.
      </iframe>
    </div>

  <div  style = 
          "
            padding: 20px; 
          "
        class = "mobileShow"> 
    <a 
      
      href="{{ site.baseurl }}/resume/FrendyLioOnlineResume.pdf" target="_blank">
      <button 
        class="btn-two green">{{ site.bio-page-label }}
      </button>
    </a>
  </div>

</div>